body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.planet-container {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.planet-wrapper {
  position: absolute;
  top: 0;
  left: -100%;
  width: 350%;
  height: 100%;
  display: flex;
}

.planet {
  flex: 1;
  background: url("Image/Earth\ map.jpg") no-repeat center;
  background-size: cover;
}
